/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: red; /* #E4E4E4; */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12pt;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
	display: flex; 
	flex-direction: column;
	align-items: stretch;
}

.tabSwitcher {
	text-align: center;
	padding: 2pt;
	margin: 0;
	flex-grow: 1;
}
.tabSwitcherEven{
	background-color: #7B9C98;
}
.tabSwitcherOdd{
	background-color: #55817B;
}
.activeTab {
	background-color: #396C65;
}
.placeItem {
	font-size:14pt;
	display: flex; 
	flex-direction: row;
	align-items: stretch;
	margin: 0;
	padding: 0;
}
.statEdit {
	margin: 0;
	padding: 4pt;
}
.placeName {
	padding: 2pt;
	margin: 0;
	flex-grow: 1;
}
.stEven {
	background-color: #19D175;
}
.stOdd {
	background-color: #14A75E;
}

#stNew {
	text-align: center;
	padding: 6pt;
	background-color: #47B2B2;
	width:100%;
}
#position {
	display: none; 
	width:100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}

#position.error {
	background-color: #FF0000;
}
#position.pending {
	background-color: #FFFF00;
}
#position.found {
	background-color: #30D030;
}
#position.success {
	background-color: #008A00;
}


#tabs {
	display: flex; 
	width:100%;
	margin: 0;
	padding: 0;
	flex-direction: row;
	align-items: stretch;
	background-color: #E4E4E4;
	font-size:14pt;
	font-weight: bold;
}

#main {
	height: 0;
	overflow: visible;
}

#mainContainer {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: #396C65;
	flex-grow: 1;
}

